* { margin: 0; padding: 0; }
body, html { height: 100% }
canvas { position: absolute; width: 100% ;height: 100%; }
#copyright{ position: fixed; text-align: center; margin: 10px; right: 0; bottom: 0; color: white;}
#copyright a{ color: aqua;}
.mobileCR{display: none;}
#header{color: white; position: fixed; top: 0; width: 30em; left: 50%; margin-left: -15em; text-align: center;}

.selectable_searchbox{
    display: inline-block;
}
.selectable_searchbox select{
    position: absolute;
    width: 10.7rem;
    margin-left: -10.7rem;
    margin-top: 1.6rem;
    outline: none;
    border: 0.1rem solid #999;
}
.selectable_searchbox option{
    padding-left: 0.5rem;
}
.selectable_searchbox input{
    width: 10rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    outline: none;
    border: 0.1rem solid #999;
}
#animationList{
    width: 8em;
    height: 1.5em;
    padding-left: 0.2em;
}
.message{
    display: none;
    position: fixed;
    width: 16em;
    min-height: 2em;
    left: 50%;
    top: 10%;
    margin-left: -10em;
    padding: 2em;
    background: #f5f5f5b4;
    border-radius: 16px;
    word-break: break-all;
    color: #3d3d3d;
    box-shadow: 0 0 40px #555555;
    letter-spacing: 0.02em;
}
@supports (-ms-ime-align: auto){
    .selectable_searchbox select{
        margin-left: -5.35rem;
        margin-top: 0;
    }
}

#share svg{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    margin: 5px;
    fill:#f8f8f8;
    stroke-dasharray: 5677.25390625;
    animation: outline_share 2s;
}
.github_corner svg{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
    fill:#151513;
    color:white;
    stroke-dasharray: 859.9161987304688;
    animation: outline_github_corner 2s;
}
#share svg:hover{
    fill: aqua;
    transition: 0.2s;
}
#share svg:active{
    fill: blue;
    transition: 0.1s;
}
.github_corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@keyframes outline_share{
    0%{
        stroke: white;
        stroke-width: 10px;
        stroke-dashoffset: 5677.25390625;
        fill-opacity: 0;
    }80%{
        stroke-width: 10px;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_github_corner{
    0%{
        stroke: white;
        stroke-width: 2px;
        stroke-dashoffset: 859.9161987304688;
        fill-opacity: 0;
    }80%{
        stroke-width: 2px;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}

@media (max-width:500px){
    #copyright{font-size: 0.8em;}
    .mobileCR{display: block;}
    .message{width: 10em;margin-left: -6em;padding: 1em;}
    .github_corner:hover .octo-arm{animation:none}
    .github_corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
    .github_corner svg{
        width: 40px;
        height: 40px;
    }
    #share svg{
        width: 30px;
        height: 30px;
        margin: 2px;
    }
}

.spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 85%;
    margin-left: -50px;
    margin-top: -50px;
}
.container1 > div, .container2 > div, .container3 > div {
    width: 30px;
    height: 30px;
    background-color: aqua;
    
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .spinner_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}